# Capstone Project
## This project will be mainly used for the Capstone Project

# PART 1

In [1]:
import pandas as pd
import numpy as np
print("Libraries have been imported :)")

Libraries have been imported :)

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# PART 2

##### For this assignment, you will be required to explore and cluster the neighborhoods in Toronto. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe.

In [75]:
#Import the Canada Post Codes Table from the Wikipedia page
!pip install lxml
!pip install html5lib
#!pip install bs4
!conda install -c conda lxml --yes

import lxml
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(url)[0]
df = pd.read_html(url, header=0, flavor='html5lib')[0]

#Rename Columns to match those in the Project
df.rename(index=str, columns={"Postal Code":"PostalCode","Neighbourhood":"Neighborhood"}, inplace=True)

Requirement already satisfied: lxml in /srv/conda/envs/notebook/lib/python3.6/site-packages (4.6.2)
Requirement already satisfied: html5lib in /srv/conda/envs/notebook/lib/python3.6/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /srv/conda/envs/notebook/lib/python3.6/site-packages (from html5lib) (0.5.1)
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [76]:
#Remove the unassigned Borough
df = df[df["Borough"] != "Not assigned"]
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [77]:
# Combine records for same Postal Code but with multiple Neighbourhoods into one row 
# with the neighborhoods separated with a comma
# Check if PostalCode is unique for every row and there are no doubled postal codes

df2 = df.groupby(by=['PostalCode','Borough']).agg(lambda x: ','.join(x)).reset_index()
df2.head()

print("df.shape[0] =", df.shape[0], "and df2.shape[0] = ", df2.shape[0])
print("There are no duplicates to remove anyway, but the above code would have removed them if there were any")

df.shape[0] = 103 and df2.shape[0] =  103
There are no duplicates to remove anyway, but the above code would have removed them if there were any

In [78]:
# If a cell has a borough but a "Not assigned"  neighborhood, then the neighborhood will be the same as the borough.
df2[df2["Neighborhood"]=="Not assigned"]
print("There are no instances where neighborhood = 'Not assigned'")
df2.head()

There are no instances where neighborhood = 'Not assigned'

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [79]:
print("There are", df2.shape[0], "records in the final dataset")

There are 103 records in the final dataset

## Get the latitude and the longitude coordinates of each neighborhood.

In [80]:
#Read csv file
import pandas as pd

url="https://cocl.us/Geospatial_data"
geo_data = pd.read_csv(url)

geo_data.rename(index=str, columns={"Postal Code":"PostalCode"}, inplace=True)
geo_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [82]:
#Join geo coordinates (geo_data) with original dataframe df2 to add coordinates to the data
#Data is joined on the PostalCode field
df2 = df2.merge(geo_data, left_on='PostalCode', right_on='PostalCode')
df2.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476